<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="gh.com.zenith.ZPROMPT"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="11"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <permission
            android:name="gh.com.zenith.ZPROMPT.permission.C2D_MESSAGE"
            android:protectionLevel="signature"/>
    <uses-permission android:name="gh.com.zenith.ZPROMPT.permission.C2D_MESSAGE"/>


    <application android:label="@string/app_name"
                 android:icon="@drawable/logo3">
        <activity android:name="Start"
                  android:label="Prompt"
                android:icon="@drawable/icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".Signup"
                  android:icon="@drawable/icon"
                  android:label="Setup"/>

        <activity android:name=".DBUpdate"/>

        <activity android:name=".Records"
                  android:icon="@drawable/icon"
                  android:label="Activity"/>

        <activity android:name=".SelectSignup"/>

        <activity android:name=".Signup2"
                  android:icon="@drawable/logo3"/>
        <activity android:name=".Token"/>

        <activity android:name=".Search"
                  android:label="Search for transactions"
                  android:icon="@drawable/logo3"/>
        <activity android:name=".ReceiveActivity"
                  android:icon="@drawable/logo3"
                  android:label="Account Activity"/>

        <receiver
                android:name="gh.com.zenith.ZPROMPT.GcmBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <category android:name="gh.com.zenith.ZPROMPT"/>
            </intent-filter>
        </receiver>

        <service android:name="gh.com.zenith.ZPROMPT.GcmIntentService"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

    </application>
</manifest>
